<div style="margin-bottom: 10px;">
  <h2 class="post-title entry-title">Angular Practice Exercises</h2>
</div>
<div class="post clear">

  <div class="post-content clear">
    <div>
      <p>These are practice exercises for Pluralsight’s <a
          href="https://app.pluralsight.com/coruses/angular-fundamentals">Angular Fundamentals</a> course. They are also
        great stand-alone exercises and you can refer to the course for a little training for each of them.<br>
        The exercises below are broken up into sections by course module and contain links to the clip in the course
        that discusses that topic, a link to the practice exercise on Plunker, and a link to the finished example for
        each exercise. Try to finish each exercise before looking at the finished example.</p>
      <h4 style="margin-top:10px;">Creating and Communicating Between Components</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m2&amp;clip=1&amp;mode=live">Creating
                  Our First Data-bound Component</a></div>
              <div style="text-align:center;color:#777;">and</div>
              <div style="text-align:center;"><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m2&amp;clip=2&amp;mode=live">Using
                  External Templates</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/K5VCArHCCMp6md3R6EPn?p=info" target="_blank" rel="noopener">Creating a
                Data-bound Component</a></td>
            <td><a href="https://plnkr.co/edit/smwlP0iVvY7vjH9vBhPf?p=info&amp;a=b" target="_blank"
                rel="noopener">Finished</a></td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m2&amp;clip=3&amp;mode=live">Communicating
                  with Child Components Using @Input</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/9T83ljlen2h7EsV2fgHZ?p=info" target="_blank" rel="noopener">Communicating
                with Child Components</a></td>
            <td><a href="https://plnkr.co/edit/ypFJQFFwxv9tms5sZAsp?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m2&amp;clip=4&amp;mode=live">Communicating
                  with Parent Components Using @Output</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/RUxtYuKgQIVHAiQHxfEs?p=preview" target="_blank"
                rel="noopener">Communicating with Parent Components</a></td>
            <td><a href="https://plnkr.co/edit/40tUPgITTKNyskpjM4Fg?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m2&amp;clip=5&amp;mode=live">Using
                  Template Variables To Interact with Child Components</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/zxDekD9IUzHgKKB5tZFA?p=info" target="_blank" rel="noopener">Using
                Template Variables To Interact with Child Components</a></td>
            <td><a href="https://plnkr.co/edit/OuYs9E9bhoaBLwyCmUJL?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m2&amp;clip=6&amp;mode=live">Styling
                  Components</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/BM72OxU6FjgxBrQlazj5?p=info" target="_blank" rel="noopener">Styling
                Components</a></td>
            <td><a href="https://plnkr.co/edit/yJ5h1SPB7NFATjSIi2DY?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="margin-top:100px;">Exploring the New Template Syntax</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m3&amp;clip=3&amp;mode=live">Repeating
                  Data with ngFor</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/R3m5n2acqlTiR35axQgD?p=info" target="_blank" rel="noopener">Repeating
                Data with ngFor</a></td>
            <td><a href="https://plnkr.co/edit/23Wvzw43Vfmv7juegyMh?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m3&amp;clip=4&amp;mode=live">Handling
                  Null Values with the Safe-Navigation Operator</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/7okEdyN6oQg0AhF786as?p=info" target="_blank" rel="noopener">Using the
                Safe-Navigation Operator</a></td>
            <td><a href="https://plnkr.co/edit/QVhn13wsjiwrIYHmouo8?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m3&amp;clip=5&amp;mode=live">Hiding
                  and Showing Content with ngIf</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/0dA4egxrHpAKr0s6qsxS?p=info" target="_blank" rel="noopener">Hiding
                Elements with ngIf</a></td>
            <td><a href="https://plnkr.co/edit/mIKeU5VDVJAnLukca1Px?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m3&amp;clip=6&amp;mode=live">Hiding
                  Content with the [Hidden] Binding</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/EYiDA3hGvAfkiV9hvNW8?p=info" target="_blank" rel="noopener">Hiding
                Elements with [Hidden]</a></td>
            <td><a href="https://plnkr.co/edit/GJdv8gLrNqv7AUqqgbWz?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m3&amp;clip=7&amp;mode=live">Hiding
                  and Showing Content with ngSwitch</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/ROrRuiygWC03IeQTOwpa?p=info" target="_blank" rel="noopener">Hiding and
                Showing Elements with ngSwitch</a></td>
            <td><a href="https://plnkr.co/edit/LlCxcZi8FqwldhuftbQc?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m3&amp;clip=8&amp;mode=live">Styling
                  Components with ngClass</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/EwP31zf9MERvquoM8aVp?p=info" target="_blank" rel="noopener">Adding Style
                with ngClass</a></td>
            <td><a href="https://plnkr.co/edit/tgLfED5jtX416DNjCPsq?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m3&amp;clip=9&amp;mode=live">Styling
                  Components with ngStyle</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/fDTwo35Y62tQFGTcCXAE?p=info" target="_blank" rel="noopener">Adding Style
                with ngStyle</a></td>
            <td><a href="https://plnkr.co/edit/TKPWwidM1jS93VnCPAmM?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="margin-top:100px;">Creating Reusable Services</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m4&amp;clip=2&amp;mode=live">Creating
                  Our First Service</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/wJsW3T1187huUINJPLS2?p=info" target="_blank" rel="noopener">Creating and
                Injecting Services</a></td>
            <td><a href="https://plnkr.co/edit/WDdUABg1CiXHpTuYTelY?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="margin-top:100px;">Routing and Navigating Pages</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m4&amp;clip=2&amp;mode=live">Adding
                  Our First Route</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/WDdUABg1CiXHpTuYTelY?p=info" target="_blank" rel="noopener">Creating a
                Route</a></td>
            <td><a href="https://plnkr.co/edit/JXbNGONJoDXLvt0hZVhD?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m5&amp;clip=3&amp;mode=live">Accessing
                  Route Parameters</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/9UY4iSIDhTeTCH3atIZt?p=info" target="_blank" rel="noopener">Using Route
                Parameters</a></td>
            <td><a href="https://plnkr.co/edit/3UgOQ8bNJy4EQABWi0dF?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m5&amp;clip=4&amp;mode=live">Linking
                  to Routes</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/vbUc0YlHx1sNCWNqf594?p=info" target="_blank" rel="noopener">Linking to
                Routes</a></td>
            <td><a href="https://plnkr.co/edit/ApZzjGYfFqjaibz9WJo2?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m5&amp;clip=5&amp;mode=live">Navigating
                  from Code</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/HNHXl2cft5TOnvQp07r5?p=info" target="_blank" rel="noopener">Navigating
                from Code</a></td>
            <td><a href="https://plnkr.co/edit/JDu7Qb6NyzIuc1nDFOs0?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m5&amp;clip=6&amp;mode=live">Guarding
                  Against Route Activation</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/9T08mkRt2EEWTgWnS0cr?p=info" target="_blank" rel="noopener">Preventing a
                Route from Activating</a></td>
            <td><a href="https://plnkr.co/edit/9RuWDKnA9X31dnaUyHJs?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m5&amp;clip=7&amp;mode=live">Guarding
                  Against Route De-Activation</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/yb7COoeEauzn3eZG73Rj?p=info" target="_blank" rel="noopener">Preventing a
                Route from De-Activating</a></td>
            <td><a href="https://plnkr.co/edit/6Vp72YzJocTCZi1MUE4g?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m5&amp;clip=8&amp;mode=live">Pre-Loading
                  Data for Components</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/OQiQGTv2wFgNOjrOJa6U?p=info" target="_blank" rel="noopener">Pre-Loading
                Data for a Component</a></td>
            <td><a href="https://plnkr.co/edit/Nvdgeen09gcJIQre8mKZ?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="margin-top:100px;">Collecting Data with Forms and Validation</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m6&amp;clip=2&amp;mode=live">Creating
                  Our First Template-based Form</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/Wc3d1m6YdJqz964f5d4f?p=info" target="_blank" rel="noopener">Creating a
                Template-based Form</a></td>
            <td><a href="http://plnkr.co/edit/PxkLiZTDRlB5o0VVo9pp?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m6&amp;clip=4&amp;mode=live">Validating
                  Template-based Forms</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/jGzKEGtQKTUu33gsEbfR?p=info" target="_blank" rel="noopener">Validating a
                Template-based Form</a></td>
            <td><a href="http://plnkr.co/edit/WEsalJIePbiHLZClMNvT?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m6&amp;clip=5&amp;mode=live">Creating
                  our First Reactive Form</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/9WWS943hqf9qIs0qrW9K?p=info" target="_blank" rel="noopener">Creating a
                Reactive Form</a></td>
            <td><a href="http://plnkr.co/edit/sYixncAm9zbg0B0QbuWv?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div style="text-align:center;"><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m6&amp;clip=6&amp;mode=live">Validating
                  Reactive Forms</a></div>
              <div style="text-align:center;color:#777;">and</div>
              <div style="text-align:center;"><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m6&amp;clip=7&amp;mode=live">Using
                  Multiple Validators in Reactive Forms</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/pZ7izdUlhKCDQ5T2i8Y1?p=info" target="_blank" rel="noopener">Validating a
                Reactive Form</a></td>
            <td><a href="http://plnkr.co/edit/uPThfSoKbeOQa0PFmdVg?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td><a
                href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m6&amp;clip=11&amp;mode=live">Creating
                Custom Validators</a></td>
            <td><a href="http://plnkr.co/edit/ZfPCpZEdGhX9mLRJ78G6?p=info" target="_blank" rel="noopener">Creating a
                Custom Validator</a></td>
            <td><a href="http://plnkr.co/edit/rlUVPBV05BaLnbAiJflr?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="margin-top:100px;">Reusing Components with Content Projection</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m8&amp;clip=1&amp;mode=live">Using
                  Content Projection</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/VrzYjKlJQ0etyjbP1KLS?p=info" target="_blank" rel="noopener">Creating a
                Component with Content Projection</a></td>
            <td><a href="http://plnkr.co/edit/W5CQ3sFULgZKaw7UDtLR?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m8&amp;clip=2&amp;mode=live">Using
                  Multiple Slot Content Projection</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/zecGQoo81kwDhbUihyOp?p=info" target="_blank" rel="noopener">Creating a
                Component with Multiple Slot Content Projection</a></td>
            <td><a href="http://plnkr.co/edit/LaYJSewlWXhaS1niisOG?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="margin-top:100px;">Manipulating Data With Pipes</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m9&amp;clip=1&amp;mode=live">Using
                  Built-In Pipes</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/vhO5AwdkUb1kNLKTu7Zc?p=info" target="_blank" rel="noopener">Using the
                Lowercase Pipe</a></td>
            <td><a href="http://plnkr.co/edit/I3a90N9ErA8yuikubvUr?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m9&amp;clip=1&amp;mode=live">Using
                  Built-In Pipes</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/Reeq1il8tMS3uzVB8yWc?p=info" target="_blank" rel="noopener">Using the Date
                Pipe with Parameters</a></td>
            <td><a href="http://plnkr.co/edit/5fGDEbq6F93jIMWj480u?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m9&amp;clip=2&amp;mode=live">Creating
                  a Custom Pipe</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/mCzpeOXVRFDzk0jPHfvW?p=info" target="_blank" rel="noopener">Creating a
                Custom Pipe</a></td>
            <td><a href="http://plnkr.co/edit/5csqcxpXJ8p6QENjQOjk?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m9&amp;clip=5&amp;mode=live">Filtering
                  Data</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/VTo63E5viBX9CJeTwU1X?p=info" target="_blank" rel="noopener">Using the
                ngOnChanges Lifecycle Hook</a></td>
            <td><a href="http://plnkr.co/edit/KL17KrYd8RCJ3jOnoDbL?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m9&amp;clip=5&amp;mode=live">Filtering
                  Data</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/deM5uBUgkHgxE62PguYG?p=info" target="_blank" rel="noopener">Filtering
                Data</a></td>
            <td><a href="http://plnkr.co/edit/CZwXyihCoFepNbEJzyOs?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m9&amp;clip=6&amp;mode=live">Sorting
                  Data</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/xD8OPhWSWKgdHVxAq9ZC?p=info" target="_blank" rel="noopener">Sorting
                Data</a></td>
            <td><a href="http://plnkr.co/edit/j3Y0jsnY8AMh92ljyGHs?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="margin-top:100px;">Understanding Dependency Injection</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m10&amp;clip=4&amp;mode=live">Using
                  the @Inject Decorator</a></div>
            </td>
            <td><a href="https://stackblitz.com/edit/angular-c8ebxa?file=README.md" target="_blank" rel="noopener">Use
                Injection Token &amp; @Inject()</a></td>
            <td><a href="https://stackblitz.com/edit/angular-gz79ke?file=README.md" target="_blank"
                rel="noopener">Finished</a></td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m10&amp;clip=6&amp;mode=live">The
                  useExisting &amp; useFactory Providers</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/4SO89CNem5PIRiQ7yrfG?p=info" target="_blank" rel="noopener">Use the
                useExisting provider</a></td>
            <td><a href="http://plnkr.co/edit/6zVYt7GXcrcRp5RX7nqZ?p=preview" target="_blank"
                rel="noopener">Finished</a></td>
          </tr>
        </tbody>
      </table>
      <h4 style="margin-top:100px;">Creating Directives and Advanced Components</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m11&amp;clip=5&amp;mode=live">Creating
                  Directives – The Trigger Directive</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/GqtrSnQTP9uXEGyUisL4?p=info" target="_blank" rel="noopener">Create a
                Directive</a></td>
            <td><a href="http://plnkr.co/edit/XxtxS5YRXLOgDyZti1Kt?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m11&amp;clip=7&amp;mode=live">Routing
                  to the Same Component</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/LIU5yLJckwZHxGHLGDaj?p=info" target="_blank" rel="noopener">Listen to
                Route Parameter Changes of a Parameterized Page</a></td>
            <td><a href="http://plnkr.co/edit/wgd6nUZOPHVTgSd53AOT?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m11&amp;clip=8&amp;mode=live">Using
                  the @ViewChild Decorator</a></div>
            </td>
            <td><a href="http://plnkr.co/edit/XIanfaFkIcPpvhVkeemd?p=info" target="_blank" rel="noopener">Using
                @viewChild</a></td>
            <td><a href="http://plnkr.co/edit/VHrPk3SYuh1aIZIUxsMh?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="margin-top:100px;">Communicating with the Server using HTTP, Observables, and Rx</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m13&amp;clip=0&amp;mode=live">Introduction</a>
              </div>
            </td>
            <td><a href="http://plnkr.co/edit/bXB2JaZr0CwFYfvZtsXu?p=info" target="_blank" rel="noopener">Turning an
                Observable into a Promise</a></td>
            <td><a href="http://plnkr.co/edit/XxtxS5YRXLOgDyZti1Kt?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m13&amp;clip=1&amp;mode=live">Moving
                  Data Storage to the Server</a></div>
            </td>
            <td><a href="https://stackblitz.com/edit/angular-ivy-uvbajs?file=README.md" target="_blank"
                rel="noopener">Making an HTTP Get Request</a></td>
            <td><a href="https://stackblitz.com/edit/angular-ivy-ajo7vf?file=src%2Fapp%2Fparent.component.ts"
                target="_blank" rel="noopener">Finished</a></td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m13&amp;clip=1&amp;mode=live">Moving
                  Data Storage to the Server</a></div>
            </td>
            <td><a href="https://stackblitz.com/edit/angular-ivy-4ytqtt?file=README.md" target="_blank"
                rel="noopener">Massaging Requested Data with Map</a></td>
            <td><a href="https://stackblitz.com/edit/angular-ivy-cqf3by?file=src%2Fapp%2Fparent.component.ts"
                target="_blank" rel="noopener">Finished</a></td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m13&amp;clip=4&amp;mode=live">Using
                  Querystring Parameters</a></div>
            </td>
            <td><a href="https://stackblitz.com/edit/angular-ivy-d2ydxr?file=README.md" target="_blank"
                rel="noopener">Using Querystring Parameters</a></td>
            <td><a href="https://stackblitz.com/edit/angular-ivy-9wpbub?file=README.md" target="_blank"
                rel="noopener">Finished</a></td>
          </tr>
        </tbody>
      </table>
      <h4 style="margin-top:100px;">Unit Testing Your Code</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m14&amp;clip=1&amp;mode=live">Installing
                  Karma</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/5OPVXzXY3pWrydLj6zYY?p=info" target="_blank" rel="noopener">Write a Basic
                Test</a></td>
            <td><a href="https://plnkr.co/edit/qnrlGwpEpRvfQJoIroB3?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m14&amp;clip=2&amp;mode=live">Unit
                  Testing Services</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/JjS6HzRJmq6KOrXavd7C?p=info" target="_blank" rel="noopener">Test a
                Service</a></td>
            <td><a href="https://plnkr.co/edit/cTTDBNldN0zqdnrdaAsn?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m14&amp;clip=2&amp;mode=live">Unit
                  Testing Services</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/DqNjaTXYBDUfNJ29Wblx?p=info" target="_blank" rel="noopener">Use a Jasmine
                Spy Object</a></td>
            <td><a href="https://plnkr.co/edit/i5nx3UFTf6RwKCsFBnnJ?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m14&amp;clip=2&amp;mode=live">Unit
                  Testing Services</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/jNbWicuyFwfbf8u6VNjH?p=info" target="_blank" rel="noopener">Mock a Http
                Call</a></td>
            <td><a href="https://plnkr.co/edit/VKf7CJnBZrs3ZxIyrFoP?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m14&amp;clip=3&amp;mode=live">Testing
                  Mock Calls</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/VHv14aiB1pMX2LzRAtuw?p=info" target="_blank" rel="noopener">Use
                toHaveBeenCalledWith</a></td>
            <td><a href="https://plnkr.co/edit/qL1PV6oldg7Dme1InR6R?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
        </tbody>
      </table>
      <h4 style="margin-top:100px;">Testing Components with Integrated Tests</h4>
      <table>
        <thead>
          <tr>
            <th>Clip</th>
            <th style="width:250px;">Practice Exercise</th>
            <th style="width:70px;">Finished Example</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div><a
                  href="https://app.pluralsight.com/player?course=angular-fundamentals&amp;author=jim-cooper&amp;name=angular-fundamentals-m15&amp;clip=3&amp;mode=live">Creating
                  Mock Services</a></div>
            </td>
            <td><a href="https://plnkr.co/edit/0O8Tn6sRg7bt0HqsM4wb?p=info" target="_blank" rel="noopener">Test a
                Component with an Integrated Test</a></td>
            <td><a href="https://plnkr.co/edit/ResZ2ZXctAGNPGp8HkHH?p=info" target="_blank" rel="noopener">Finished</a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="jp-post-flair" class="sharedaddy sd-like-enabled sd-sharing-enabled">
      <div class="sharedaddy sd-sharing-enabled">
        <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
          <h3 class="sd-title">Share this:</h3>
          <div class="sd-content">
            <ul data-sharing-events-added="true">
              <li class="share-press-this"><a rel="nofollow noopener noreferrer" data-shared=""
                  class="share-press-this sd-button share-icon"
                  href="https://jcoop.io/angular-practice-exercises/?share=press-this&amp;nb=1" target="_blank"
                  title="Click to Press This!"><span>Press This</span></a></li>
              <li class="share-twitter"><a rel="nofollow noopener noreferrer" data-shared="sharing-twitter-425"
                  class="share-twitter sd-button share-icon"
                  href="https://jcoop.io/angular-practice-exercises/?share=twitter&amp;nb=1" target="_blank"
                  title="Click to share on Twitter"><span>Twitter</span></a></li>
              <li class="share-facebook"><a rel="nofollow noopener noreferrer" data-shared="sharing-facebook-425"
                  class="share-facebook sd-button share-icon"
                  href="https://jcoop.io/angular-practice-exercises/?share=facebook&amp;nb=1" target="_blank"
                  title="Click to share on Facebook"><span>Facebook</span></a></li>
              <li class="share-end"></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="sharedaddy sd-block sd-like jetpack-likes-widget-wrapper jetpack-likes-widget-loaded"
        id="like-post-wrapper-118102292-425-60f6bcbd0b398"
        data-src="//widgets.wp.com/likes/index.html?ver=20210413#blog_id=118102292&amp;post_id=425&amp;origin=jcoopio.wordpress.com&amp;obj_id=118102292-425-60f6bcbd0b398&amp;domain=jcoop.io"
        data-name="like-post-frame-118102292-425-60f6bcbd0b398" data-title="Like or Reblog">
        <h3 class="sd-title">Like this:</h3>
        <div class="likes-widget-placeholder post-likes-widget-placeholder" style="height: 55px; display: none;"><span
            class="button"><span>Like</span></span> <span class="loading">Loading...</span></div><iframe
          class="post-likes-widget jetpack-likes-widget" name="like-post-frame-118102292-425-60f6bcbd0b398"
          src="//widgets.wp.com/likes/index.html?ver=20210413#blog_id=118102292&amp;post_id=425&amp;origin=jcoopio.wordpress.com&amp;obj_id=118102292-425-60f6bcbd0b398&amp;domain=jcoop.io"
          title="Like or Reblog" width="100%" height="55px" frameborder="0"></iframe><span
          class="sd-text-color"></span><a class="sd-link-color"></a>
      </div>
    </div>
  </div> <!-- /post-content -->





</div>
